/* Write your custom CSS here */
.booking{
  width:100%;
}

.center-text{
  text-align: center;
}

.top-pad{
  margin-top: 20px;
}

.atas{
  height: 320px;
}

.warna-text{
  color: black;
}

.head{
  height: 20px;
}

a{
  text-decoration: none;
}

.status{
  width:175px;
  background-color: #0097a7;
}

.tit-top{
  padding-top: 20px;
}
